@font-face {
  font-family: "Inter";
  src: url("@opencode-ai/ui/fonts/inter.woff2") format("woff2-variations");
  font-display: swap;
  font-style: normal;
  font-weight: 100 900;
}

@font-face {
  font-family: "Inter Fallback";
  src: local("Arial");
  size-adjust: 100%;
  ascent-override: 97%;
  descent-override: 25%;
  line-gap-override: 1%;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("@opencode-ai/ui/fonts/ibm-plex-mono.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("@opencode-ai/ui/fonts/ibm-plex-mono-medium.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("@opencode-ai/ui/fonts/ibm-plex-mono-bold.woff2") format("woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "IBM Plex Mono Fallback";
  src: local("Courier New");
  size-adjust: 100%;
  ascent-override: 97%;
  descent-override: 25%;
  line-gap-override: 1%;
}
